<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Flatpack for Autodesk Fusion 360" Language="1033" Version="1.0.0.0" Manufacturer="Martin Hans" UpgradeCode="d1d5541f-b8ed-4c47-98a0-a33f6111576c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of Flatpack is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Flatpack" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="AppDataFolder">
        <Directory Id="AutodeskFolder" Name="Autodesk">
          <Directory Id="Fusion360Folder" Name="Autodesk Fusion 360">
            <Directory Id="APIFolder" Name="API" >
              <Directory Id="AddInsFolder" Name="AddIns">
                <Directory Id="INSTALLFOLDER" Name="Flatpack" />        
              </Directory>
            </Directory>
          </Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="DLL"  Guid="D1A53055-A6EA-437F-A32F-3E780A626D64"> 
        <File Id="Flatpack.dll" Source="..\Debug\Flatpack.dll" Checksum="yes"/>
        <RegistryValue Root='HKCU' Key='Software\MartinHans\Flatpack' Name='InstallFolder' Value='[INSTALLFOLDER]' KeyPath='yes' Type='string'/>
        <RemoveFolder Id="AutodeskFolder" On="uninstall" Directory="AutodeskFolder"/>
        <RemoveFolder Id="Fusion360Folder" On="uninstall" Directory="Fusion360Folder"/>
        <RemoveFolder Id="AddInsFolder" On="uninstall" Directory="AddInsFolder"/>
        <RemoveFolder Id="APIFolder" On="uninstall" Directory="APIFolder"/>
        <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
      
		 </Component>
    	<Component Id="Manifest" Guid="05056F79-6000-4E38-9172-CFEA15F7FC4B"> 
        <File Id="Flatpack.manifest" Source="..\Flatpack.manifest" Checksum="yes"/>
        <RegistryValue Root='HKCU' Key='Software\MartinHans\Flatpack' Name='Manifest' Value='installed' KeyPath='yes' Type='string'/>
		 </Component>
      
		</ComponentGroup>
	</Fragment>

</Wix>
