on: [push, workflow_dispatch]

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Windows",
            os: windows-latest,
            artifact: "build/Flatpack-0.1.1-win64.zip",
            install_fusion: "choco install autodesk-fusion360 --ignore-checksums",
            install_ninja: "",
            cmake_args: "-DCMAKE_CXX_COMPILER=cl.exe",
          }
        - {
            name: "macOS",
            os: macos-latest,
            artifact: "macOS.tar.xz",
            install_fusion: "brew install --cask autodesk-fusion360",
            install_ninja: "brew install ninja",
            cmake_args: "",
          }

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - run: ${{ matrix.config.install_ninja }}
        name: "Install Ninja"

      - name: Cache Autodesk Fusion 360 C++ API files
        id: cache-fusion-api
        uses: actions/cache@v3
        env:
          cache-name: cache-fusion-api
        with:
          # API files are copied to fusion_360_api directory
          path: fusion_360_api
          key: ${{ runner.os }}-build-${{ env.cache-name }}

      - if: ${{ steps.cache-fusion-api.outputs.cache-hit != 'true' }}
        run: |
          ${{ matrix.config.install_fusion }}
          python3 scripts/copy_fusion360_api_dir.py
        name: "Install Autodesk Fusion 360 and copy API files"

      - name: Save Fusion 360 API files to cache
        if: ${{ steps.cache-fusion-api.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@v3
        with:
          path: fusion_360_api
          key: ${{ runner.os }}-build-${{ env.cache-name }}

      - uses: seanmiddleditch/gha-setup-vsdevenv@master

      - name: "Build"
        run: |
          mkdir build
          cd build
          cmake .. -GNinja ${{ matrix.config.cmake_args }}
          ninja package
          ls *.zip

      - name: Save artifacts
        uses: actions/upload-artifact@v7
        with:
          name: ${{ matrix.config.name }}-dll
          path: |
            build/*.dylib
            build/*.dll

      - name: "Extract and restructure package"
        shell: bash
        run: |
          unzip build/*.zip -d build/extract
          cp -r build/extract/. build/package/
          mkdir -p build/package/Flatpack
          mv build/package/Flatpack.bundle/Contents/Flatpack.* build/package/Flatpack/
          rm -rf build/package/Flatpack.bundle

      - name: Save artifacts
        uses: actions/upload-artifact@v7
        with:
          name: ${{ matrix.config.name }}-zip
          path: build/package/
